

 
 html {
  width: 100%;
  
  body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #2b2d36;
    font-family: "Open Sans", sans-serif;
    color: #fff;
  }
}