@import '_variables';
 
.footer {
  $self: &;
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8.75rem;
  padding: 20px 3.33vw;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 300;
  color: #a3a8b7;
  fill: #a3a8b7;
  position: relative;
  &__logo {
    position: relative;
    line-height: 1.25rem;
    #{$self}__logo-back {
      background: #fff;
      text-transform: uppercase;
      width: 3.75rem;
      height: 3.75rem;
      padding-left: 0.3rem;
      transition: 0.3s ease;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        border: 2px solid transparent;
        width: calc(3.75rem - 1px);
        height: calc(3.75rem - 6px);
        background-color: #000;
      }
      &:hover {
        background: linear-gradient(to right, #cd7401, #ff9d24);
        animation: rotateAnimation 2s linear infinite;
        display: inline-block;
      }
    }
    #{$self}__logo-text {
      position: absolute;
      font-size: 1rem;
      top: 0;
      margin: 0rem;
      cursor: pointer;
      padding-left: 5px;
    }
    &:hover #{$self}__logo-back {
      background: linear-gradient(to right, #cd7401, #ff9d24);
      animation: rotateAnimation 2s linear infinite;
      display: inline-block;
    }
  }

  &__name {
    display: none;
    position: relative;
    padding: 0 10px;
    text-align: center;
    font-size: 1.2rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 50%;
      height: 1px;
      background-color: #a3a8b7;
    }

    &::before {
      left: 0;
      transform: translateX(-100%);
    }

    &::after {
      right: 0;
      transform: translateX(100%);
    }
    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
  }
  &__show {
    #{$self}--show {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 2px solid #fff;
      color: #a3a8b7;
      padding-block: 10px;
      margin-block: 5px;
      cursor: pointer;
      transition: 0.3s ease;
      border-radius: 5px;
      font-size: 1rem;
      width: 20vw;
      text-align: center;
      text-transform: uppercase;
      transition: 0.3s ease;
      font-size: 1rem;
      font-weight: bold;
      span {
        display: inline-block;
        transform: rotate(90deg);
      }
      &:hover {
        background: linear-gradient(to right, #cd7401, #ff9d24);
        color: #fff;
        fill: #fff;
        transition: 0.3s ease;
      }
    }

    #toggleClassCheckbox {
      display: none;
    }
    #toggleClassCheckbox:checked + label + .footer__show--select {
      top: 0rem;
      transition: top 0.3s ease, z-index 0.3s ease;
      color: #fff;
      fill: #fff;
    }

    #toggleClassCheckbox:checked
      + label
      + .footer__show--select.top-animation-finished {
      z-index: 1;
    }

    #toggleClassCheckbox:checked
      + label
      + .footer__show--select:not(.top-animation-finished) {
      z-index: 0;
    }

    #toggleClassCheckbox:checked + label {
      background: linear-gradient(to right, #cd7401, #ff9d24);
      color: #fff;
      fill: #fff;
      transition: 0.3s ease, z-index 0.3s ease;
    }

    #toggleClassCheckbox:checked + label svg {
      background: transparent;
      transform: rotate(-180deg);
      fill: #fff;
      transition: 0.3s ease;
    }

    #toggleClassCheckbox:checked + label + .footer__show--select {
      top: -5rem;
      transition: top 0.3s ease, z-index 0.3s ease;
      color: #fff;
      fill: #fff;
    }

    &--select {
      position: absolute;
      z-index: -1;
      top: 0;
      transition: bottom 0.3s ease;
      background-color: #fff;
      height: 5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-inline: 0.5rem;
      width: 15rem;
      right: 3.33vw;
   
     
      a {
        color: #000;
        display: block;
        background: #fff;
        cursor: pointer;
        font-size: 1rem;
        padding: 5px;
        &:hover {
          background: linear-gradient(to right, #cd7401, #ff9d24);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }
  }
}

@keyframes rotateAnimation {
  to {
    transform: rotate(360deg);
  }
}
